<h1>Films à regarder</h1>
<div *appShowMovies="ShowMovies">
  <div class="card" style="width: 18rem;" appHover>
    <img class="card-img-top" src="http://fr.web.img5.acsta.net/r_1280_720/medias/nmedia/18/62/88/99/19081204.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Star Trek</p>
    </div>
  </div>
  <br/>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51XYEA1G35L._SY445_.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Star Wars II: L'attaque des clones </p>
    </div>
  </div>
  <br/>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="http://fr.web.img2.acsta.net/r_1280_720/medias/nmedia/18/35/52/34/18450888.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Harry Potter et la coupe de feu</p>
    </div>
  </div>
  <br/>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://static.films-horreur.com/2015/06/pVc73MJKaXuI7nJ55Z5fMTEKid1.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Je suis une légende</p>
    </div>
  </div>
  <br/>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="http://fr.web.img6.acsta.net/pictures/14/06/18/17/18/218720.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Nos Etoiles contraires</p>
    </div>
  </div>
  <br/>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="http://fr.web.img6.acsta.net/medias/nmedia/18/78/95/70/19485155.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Avatar</p>
    </div>
  </div>
  <br/>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="http://assets-cf.gbeye.com/thumbnails/full_size_206062_1502356061.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Rick et Morty</p>
    </div>
  </div>
  <br/>
  </div>
